@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@font-face {
  src: url("../../public/fonts/NicoMoji-Regular.ttf");
  font-family: "Nico Moji";
}

body,
html {
  display: grid;
}

body {
  @apply bg-gray-100;
}

.link_active {
  @apply font-bold border-b-[4px] border-purple;
}

.min-height {
  min-height: calc(100vh - 80px) !important;
}
.social-media-ul {
  @apply px-3 text-2xl;
}
.main {
  @apply w-[100%] min-height py-12  flex flex-col;
}

.button-black {
  @apply bg-black text-white;
}
.button-white {
  @apply bg-white text-black shadow-black/80 font-normal text-sm;
}
.button-shadow {
  @apply shadow-lg;
}
.gap-l {
  @apply sm:pl-[20px] xl:pl-[100px];
  @apply sm:left-[15px] xl:left-[70px];
}
.gap-r {
  @apply sm:pr-[20px] xl:pr-[100px];
  @apply sm:right-[15px] xl:right-[70px];
}
.gap-lr {
  @apply gap-l gap-r;
}

.icon-button {
  @apply text-gray-600 hover:opacity-80 active:opacity-70 cursor-pointer;
}
.img-bordered {
  @apply border-white2 border-[3px] border-solid shadow-sm shadow-black/80;
}
.h-simple-header {
  height: 70vh;
}
.article-user-grid {
  grid-template-columns: 3fr 1fr;
}
