@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@font-face {
  src: url("../../public/fonts/NicoMoji-Regular.ttf");
  font-family: "Nico Moji";
}

body {
  /* color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */

  @apply bg-gray-100;
}

.link_active {
  @apply font-bold border-b-[4px] border-purple;
}

.min-height {
  min-height: calc(100vh - 80px) !important;
}
.social-media-ul {
  @apply px-3 text-2xl;
}
.main {
  @apply w-[100%] min-height py-12  flex flex-col;
}

.button-black {
  @apply bg-black text-white;
}
.button-white {
  @apply bg-white text-black shadow-black/80 font-normal;
}
.button-shadow {
  @apply shadow-lg;
}
.gap-l {
  padding-left: 100px;
}
.gap-r {
  padding-right: 100px;
}
.gap-lr {
  padding-right: 100px;
  padding-left: 100px;
}
